<h2>Welcome to the <%= @room.name %>, <%= @player.name %></h2>

<h2>Your cards are:
  <%= @player.cards.collect {|c| c.name}.to_sentence %>
</h2>

<% if @players[@game.turn] == @player %>
  <h2>Change Room:</h2>
  <% @room.next_rooms.each do |room| %>
  <div class="col-xs-4 text-center">
    <h4><%= link_to room.name, game_room_path(@game, room) %></h4>
  </div>
  <% end %>
  <br><br>

  <% if !@player.accusation %>
    <% if true %>
      <%= render 'guesses/form' %>
    <% end %>

    <% if true %>
      <%= render 'accusations/form' %>
    <% end %>
  <% end %>
<% else %>
  <h2>It is <%= @players[@game.turn].name %>'s turn.</h2>
  <% take_turn(@game) %>
<% end %>

<!-- answer and opponents cards:
<p>It was <%= @answer.cards.suspect.name %> in the <%= @answer.cards.room.name %>
with the <%= @answer.cards.weapon.name %></p>

<ul>
  <% @game.players.opponents.each do |player| %>
    <li><%= player.name %></li>
    <ul>
    <% player.cards.each do |card| %>
    <li><%= card.name %></li>
    <% end %>
    </ul>
  <% end %>
</ul> -->
